/* 寮圭獥 (background) */
.modal {
    display: none; /* 榛樿闅愯棌 */
    position: fixed; /* 鍥哄畾瀹氫綅 */
    z-index: 1; /* 璁剧疆鍦ㄩ《灞� */
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%;
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
}

/* 寮圭獥鍐呭 */
.modal-content {
    background-color: #fefefe;
    margin: 5% auto; 
    padding: 20px;
    border: 1px solid #888;
    width: 40%; 
}

/* 鍏抽棴鎸夐挳 */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
.my_dataTables_filter {
    float: right;
}

.search_space{
    height:34px;
    position: relative;
    top:2px;
    left:4px;
}

.search_button{
    width: 50px;
    height: 34px;
    color: #fff;
    /*font-size:20%;*/
    letter-spacing: 1px;
    background: #65CEA7;
    border-bottom: 2px solid #65CEA7;
    /*background: #3385ff;*/
    /*border-bottom: 2px solid #2d78f4;*/
    outline: medium;
    -webkit-appearance: none;
    -webkit-border-radius: 0;
}

.search_type{
    height:34px;
    position: relative;
    top:2px;
    left:4px;
}
